<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/code.css" | relative_url }}">
  </head>
  <body>
    <div style="display: flex; justify-content: center; min-height: 100vh;">
      <div style="display: flex; flex-direction: column; justify-content: space-between; width: 100%; max-width: 700px; min-height: 100%;">
        <div style="width: 100%;">
          {% include navigation.html %}
          {{ content }}
        </div>
        <div style="text-align: center;">
          <p style="margin: 0;">Kia Strawberries</p>
          <p style="margin: 0 0 0.5em 0;" class="light">@ 13210</p>
        </div>
      </div>
    </div>
  </body>
</html>
